<div>{{ title }}</div>


<div>
    <div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
    </div>

</div>


<div ng-repeat="state in states">
    <div>State Id : {{ state.properties.id }}</div>
    <div>State Name: {{ state.properties.name }}</div>
</div>


<div ng-repeat="sd in stateData">
    <div>State Name : {{ sd.properties.name }}</div>
    <div>Indicator Title: {{ sd.properties.indicator_title }}</div>
    <div>Indicator Value: {{ sd.properties.indicator_value }}</div>
</div>

JSON TUTORIAL

<div id="svgChart"></div>

<div id="mapChart"></div>

<div id="addData">Add Data</div>